@charset "UTF-8";
           
  
       #main {width:100%; height:150px; position:relative;}
       header {width:100%; height:180px; border-top:1px solid #555;}
       #login {width:1150px; height:65px; margin:0 auto; }
       #login ul {float:right; width:230px; height:100%; font-size:16px; margin:0 15px;}
       #login ul li {float:left; margin: 25px 0 0 20px;}
       a {text-decoration:none; color:black;} 
       a:hover {opacity:0.5;}
       #login  img {float:right; width:20px; height:20px; margin:23px 20px 0 0;}
       #login img:hover {cursor:zoom-in;  transform: scale(1.2); transition: all 0.3s ease-in-out; }

       #slider {width:100%; height:100%;  position:absolute; top: 0; left:0; z-index:-2;
        background: url("../img/subbackground.jpg") no-repeat center;}
       
       header nav {width:1150px; height:50px; margin:0 auto;}
       header nav ul {float:right; width:700px; height:30px; font-weight:bold; }
       header nav ul li {float:left; margin:20px 0 0 20px; font-size:17px;}

       #logo {float:left; width:200px; height:40px; margin:10px 20px;}

       .icon2 {float:right; width:22px; height:22px; margin-top:18px; margin-right:17px;}

       #sub_top {width:1150px; height:650px; margin:0 auto;}
       #sub_top>p {float:left; font-size:18px; margin:60px 0 10px 30px; display:block;}
       #sub_top>p>span {font-size:12px; color:rgb(175, 175, 175); letter-spacing: 10px; }
       
       #sub_top>#maintop {clear: both; width:1150px; height:600px; margin:0 auto;
       border:3px solid rgb(216, 216, 216); border-radius:35px; position:relative;}
       input:hover {cursor: pointer;}
       #sub_top #maintop>#mainimg1 {position:relative;display:block; width:550px; height:500px; margin:10px; border-radius:30px;}
       #sub_top #maintop>.info {width:550px; height:500px; border-bottom:1px solid ;
       position:absolute; top:20px; right:15px;}

       #sub_top #maintop>.info>h2 { margin-top:20px; font-size:32px; letter-spacing:1px; padding-bottom:30px; border-bottom:2px solid #888;}

       #maintop>div:nth-of-type(1) {position:absolute; width:25px; height:25px; margin:30px 20px 20px 0; border-radius:50px;
       bottom:80px; left:450px; background-color:#888;}
       #maintop>div:nth-of-type(2) {position:absolute; width:25px; height:25px; margin:30px 20px 20px 0; border-radius:50px;
       bottom:80px; left:485px; background-color:#e2dcca;}
       #maintop>div:nth-of-type(3) {position:absolute; width:25px; height:25px; margin:30px 20px 20px 0; border-radius:50px;
       bottom:80px; left:520px; background-color:rgb(34, 14, 104);}
     
       .info>p:nth-of-type(1) {clear: both; color:#666; margin:10px 0 2px;}
       .info>p:nth-of-type(2) {display: inline-block; font-size:16px; margin-top:10px;}
       .xbox {margin: 0 0 0 2px; border:none; border-radius:2px; padding:5px 5px 2px; background-color:#f5f5f5;
       font-size:16px;}
       .xbox:hover {background-color: #f6d413; border:none;}
       .info p:nth-of-type(3) {font-size:16px; margin-top:5px;}

       

       #select {width:550px; height:80px; margin:20px 0; padding:20px 0; width:550px; height:80px; border-top:1px dotted #999;}
       #select span {margin-right:20px; font-size:16px; color: black;}
       .selectcolor {margin-bottom:10px; padding:5px 60px;}
       .select123 {padding:5px 73px;}

       #benefit {width:550px; height:65px; padding-top:20px; border-top:1px dotted #999;}
       .benefit1, .benefit2 {padding:7px 82px; letter-spacing:2px; font-weight:bold; border-radius:0; font-size:16px;}
       .benefit1 {border:2px solid #888; background-color:white;}
       .benefit1:hover {border:2px soild #888; background-color:#888; color:white;}
       .benefit2 {border:2px solid #f6d413; background-color:white;}
       .benefit2:hover {border:2px soild #f6d413; background-color:#f6d413; color:white;}


       .info>s {float:right; display:block; margin:20px 15px 0 5px; font-size:18px; font-weight:bold; color:#888}
       .info>p:nth-of-type(4) {width:370px; height:40px; font-size:35px; font-weight:bold; letter-spacing:1px;
       padding-left:30px; clear: both; border-bottom:10px solid #f6d4135d; margin-top:7px; margin-left:170px}
       .info>p:nth-of-type(4)>span {font-size:20px; margin-right:20px;}

       .info>.cart {position:absolute; right:240px; bottom:12px; width:50px; height:50px; padding:7px; border-radius:50px; border:3px solid #f6d413;}
       .info>.cart:hover {cursor: pointer; background-color: #f6d413;}
       .info>.purchase {float:right; border:1px solid #f6d413; padding:10px 70px; margin-top:20px;
       font-size:25px; background-color:#f6d413; border-radius:50px;}
       .info>.purchase:hover {border:2px solid #f6d413; background-color:white; }

       #mainbottom1 {display:inline-block; float:left; margin-top:20px; margin-left:10px;}
       #mainbottom1>span {margin:2px; padding:5px; border:1px solid #f6d413; border-radius:50px;}
       #mainbottom1>span:hover {cursor:pointer; background-color:#f6d413; }
       #mainbottom2 {float:right; width:170px; height:15px; margin-top:20px;}
       #mainbottom2>.wish {display:inline-block; width:17px; height:15px; margin:0 2px 0 20px; vertical-align:middle;}
       #mainbottom2>.wish {width:17px; height:15px; margin:0 2px 0 20px; vertical-align:middle;}
       #mainbottom2>.wish:hover {cursor:pointer; opacity:0.5;}
       #mainbottom2>.shareicon {width:15px; height:15px; margin:0 5px 0 20px; vertical-align:middle;}
       #mainbottom2>.shareicon:hover {cursor:pointer; opacity:0.5;}
       #mainbottom2>span {font-size:13px;}

       #inquiry {margin:0 auto; width:1150px; height:50px; }
       #inquiry ul {width:1150px; height:50px; margin:100px 0px;}
       #inquiry ul>li {width:287px; height:100%; background-color: #f0f0f0; float:left; text-align:center;
       padding:15px 0 0 0; border:1px solid rgb(221, 221, 221); border-bottom:1px solid #f6d413; font-size:16px; color:black;}
       #inquiry ul>li.active {background-color:white; border-bottom:none; border-top:2px solod balck;}

       #detail {margin:0 auto; width:1150px; height:7000px;}

       #detail_1 {margin:20px 0;; width:1150px; height:250px; background-color:#f0f0f0; text-align:center; padding:30px;}
       #detail_1>h2 {font-size:30px;}
       #detail_1>h2>span {color:red;}
       #detail_1>h4 {margin:10px 0 15px;}
       #detail_1>p:nth-of-type(1) {font-size:20px; line-height:1.5;}
       #detail_1>p:nth-of-type(1)>span {color:red; text-decoration:underline; font-weight:bold;}
       #detail_1>p:nth-of-type(2) {margin:10px 0; color:#888;}
       
       .black {margin:0 auto 10px;}
       
       .detail_2 {position:relative; width:1150px; height:760px; }
       #detail_2img {width:1090px; border:0;}
       .detail_2>button {position:absolute; width:60px; height:258px; border:0;}
       .detail_2>button:nth-of-type(1) {right:0; top:0; background-color:#888; color:white;}
       .detail_2>button:nth-of-type(2) {right:0; top:250px; background-color:#e2dcca;}
       .detail_2>button:nth-of-type(3) {right:0; top:500px; background-color:rgb(34,14,104); color:white;}


